services:
  app:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: billing_core_app
    working_dir: /var/www
    volumes:
      - ./backend:/var/www
    depends_on:
      - db
      - redis

  db:
    image: postgres:17
    container_name: billing_core_db
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "${POSTGRES_PORT:-5432}:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    container_name: billing_core_redis
    ports:
      - "6379:6379"

volumes:
  pgdata:
